ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="8181", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idVendor}=="1fc9", ATTRS(idProduct}=="8182", ENV{ID_MM_DEVICE_IGNORE}="1"

